<style>
    .vertical-menu {
        width: 200px;
    }
    
    .vertical-menu a {
        background-color: #eee;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }
    
    .vertical-menu a:hover {
        background-color: #ccc;
    }
    
    .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
    }
    </style>




<h1 style="text-align:center; color:black">ASSESSMENT</h1>
<div class="vertical-menu">
    <a style="text-align:center; color:red" href="/users" routerLinkActive="active">USERS</a>
    <a style="text-align:center; color:green" href="/posts" routerLinkActive="active">POSTS</a>
  
  </div>


 

<router-outlet></router-outlet>